@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

._container {
    margin: 0px auto;
    max-width: $maxWidthContainer + px;
    @media (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media (max-width: $md2 + px) {
        max-width: 750px;
    }
    @media (max-width: $md3 + px) {
        max-width: none;
        padding: 0 15px;
    }
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &__content {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__section {
        display: flex;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
    }

    &__buttons {
        margin-left: 20px;
    }
}

.menu {
    &__body {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        list-style: none;
        display: flex;
        white-space: nowrap;
        li {
            margin: 0 0 0 20px;
            position: relative;
        }
        li:last-child,
        li:nth-child(2) {
            padding-right: 20px;
        }
        li:last-child:after,
        li:nth-child(2):after {
            content: "expand_more";
            position: absolute;
            top: -3px;
            font-family: "Material Icons";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &__link {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
    }

    &__arrow {
        font-family: "Material Icons";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(31, 32, 65, 0.5);
    }
}

.button {
    &__login {
        position: relative;
        color: #bc9cff;
        font-weight: bold;
        position: relative;
        font-size: 12px;
        border: none;
        text-transform: uppercase;
        padding: 9px 20px;
        border-radius: 22px;
        background-color: white;
    }
    &__login:before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 34px;
        z-index: -1;
    }

    &__register {
        margin-left: 20px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        background-color: white;
        text-transform: uppercase;
        padding: 9px 20px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
    }

    &__find-hotel {
        color: white;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 320px;
        height: 44px;
        border-radius: 22px;
        border: none;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-family: "Material Icons";
            font-size: 24px;
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    &__background {
        position: relative;
        z-index: -1;
        width: 100%;
        height: 830px;
        background-image: url('../img/background/background.jpg');
        background-size: cover;
        background-position: center center;
    }

    &__title {
        position: absolute;
        width: 297px;
        height: 48px;
        text-align: right;
        bottom: 18px;
        right:134px;
    }
}



.find-hotel {

    &__block {
        position: absolute;
        top: 40px;
        width: 380px;
        height: 374px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    &__content {
        height: 305px;
        width: 320px;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        
    }

    &__title {
        color: #1F2041;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }

    &__dropdown {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__button {
    }
}



.dropdown {

    &__arrival {
        width: 150px;
        margin-right: 20px;
    }

    &__title {
        font-weight: bold;
        font-size: 12px;
        color: #1F2041;
    }

    &__menu {
        width: 100%;
        height: 44px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 13px 15px;
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu::after {
        
        font-family: "Material Icons";
        content: "expand_more";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__departure {
        width: 150px;
    }

    &__guests {
        margin-top: 20px;
        width: 320px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 372px;
    width: 100%;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    position: relative;
    &__content {
        display: flex;
    }

    &__brand {
        height: 132px;
    }

    &__logo {
        margin-top: 100px;
    }

    &__title {
        margin-top: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        width: 260px;
    }

    &__menu {
    }


    &__nav {
    }

}

.nav {
    width: 860px;
    margin-top: 100px;
    &_subscribe {
        margin-top: 18px;
    }

    &__content {
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    &__list {
        list-style: none;
        li {
            margin-bottom: 20px;
        }
        li:first-child {
            margin-bottom: 21px;
        }
    }

    &__link {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}

.title {
    color: #1F2041;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.subscribe {
    margin-left: 51px;
    &__title {
        margin-bottom: 21px;
    }

    &__subtitle {
        width: 260px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        margin-bottom: 20px;
    }

    &__field {
        position: relative;
        input {
            font-weight: normal;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.25);
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 260px;
            height: 44px;
            border-radius: 4px;
            padding-left: 15px;
        }

        span {
            font-family: Material Icons;
            font-weight: normal;
            font-size: 24px;
            position: absolute;
            right: 10px;
            color: #8BA4F9;
            top: 9px;
        }
    }
}

.copyright-bar {
    align-self: flex-end;
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px;
    &__content {
        display: flex;
        justify-content: space-between;

    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__social {
        img {
            margin-right: 20px;
        }
    }
}


.copyright {
    width: 100%;
    height: 70px;  
    &__content {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__social {
        img {
            margin-right: 20px;
        }
    }
}
