@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

._container {
    margin: 0px auto;
    max-width: $maxWidthContainer + px;
    @media (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media (max-width: $md2 + px) {
        max-width: 750px;
    }
    @media (max-width: $md3 + px) {
        max-width: none;
        padding: 0 15px;
    }
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &__content {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__section {
        display: flex;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
    }

    &__buttons {
        margin-left: 20px;
    }
}

.menu {
    &__body {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        list-style: none;
        display: flex;
        white-space: nowrap;
        li {
            margin: 0 0 0 20px;
            position: relative;
        }
        li:last-child,
        li:nth-child(2) {
            padding-right: 20px;
        }
        li:last-child:after,
        li:nth-child(2):after {
            content: "expand_more";
            position: absolute;
            top: -3px;
            font-family: "Material Icons";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &__link {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
    }

    &__arrow {
        font-family: "Material Icons";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(31, 32, 65, 0.5);
    }
}

.button {
    &__login {
        position: relative;
        color: #bc9cff;
        font-weight: bold;
        position: relative;
        font-size: 12px;
        border: none;
        text-transform: uppercase;
        padding: 9px 20px;
        border-radius: 22px;
        background-color: white;
    }
    &__login:before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 34px;
        z-index: -1;
    }

    &__register {
        margin-left: 20px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        background-color: white;
        text-transform: uppercase;
        padding: 9px 20px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
    }

    &__find-hotel {
        color: white;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 320px;
        height: 44px;
        border-radius: 22px;
        border: none;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-family: "Material Icons";
            font-size: 24px;
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    &__background {
        position: relative;
        width: 100%;
        height: 830px;
        background-image: url('../img/background/background.jpg');
        background-size: cover;
        background-position: center center;
    }

    &__title {
        position: absolute;
        width: 297px;
        height: 48px;
        text-align: right;
        bottom: 18px;
        right:134px;
    }
}



.find-hotel {

    &__block {
        z-index: 10;
        position: absolute;
        top: 40px;
        width: 380px;
        height: 374px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    &__content {
        height: 305px;
        width: 320px;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        
    }

    &__title {
        color: #1F2041;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }

    &__dropdown {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__button {
    }
}



.dropdown {

    &__arrival {
        width: 150px;
        margin-right: 20px;
        input {
            position: absolute;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 12px;
        color: #1F2041;
    }

    &__menu { 
        height: 44px;
        position: relative;
        input {
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            padding: 13px 15px;
            color: rgba(31, 32, 65, 0.75);
            font-weight: normal;
            font-size: 14px;
            width: 100%;
            outline: 0;
            outline-offset: 0;
        }
        span {
            font-family: "Material Icons";
            font-style: normal;        
            font-weight: normal;         
            font-size: 24px;
            color: rgba(31, 32, 65, 0.5);
            position: absolute;
            right: 3px;
        }
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__departure {
        width: 150px;
        input {
            position: absolute;
        }
    }

    &__guests {
        margin-top: 20px;
        width: 320px;
        position: relative;
    }
    &__guests input:focus {
        border: 1px solid rgba(31, 32, 65, 0.5)
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 372px;
    width: 100%;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    position: relative;
    &__content {
        display: flex;
    }

    &__brand {
        height: 132px;
    }

    &__logo {
        margin-top: 100px;
    }

    &__title {
        margin-top: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        width: 260px;
    }

    &__menu {
    }


    &__nav {
    }

}

.nav {
    width: 860px;
    margin-top: 100px;
    &_subscribe {
        margin-top: 18px;
    }

    &__content {
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    &__list {
        list-style: none;
        li {
            margin-bottom: 20px;
        }
        li:first-child {
            margin-bottom: 21px;
        }
    }

    &__link {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}

.title {
    color: #1F2041;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.subscribe {
    margin-left: 51px;
    &__title {
        margin-bottom: 21px;
    }

    &__subtitle {
        width: 260px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        margin-bottom: 20px;
    }

    &__field {
        position: relative;
        input {
            font-weight: normal;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.25);
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 260px;
            height: 44px;
            border-radius: 4px;
            padding-left: 15px;
        }

        span {
            font-family: Material Icons;
            font-weight: normal;
            font-size: 24px;
            position: absolute;
            right: 10px;
            color: #8BA4F9;
            top: 9px;
        }
    }
}

.copyright-bar {
    align-self: flex-end;
    width: 100%;
    height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px;
    &__content {
        display: flex;
        justify-content: space-between;

    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__social {
        img {
            margin-right: 20px;
        }
    }
}


.copyright {
    width: 100%;
    height: 70px;  
    &__content {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
    }

    &__social {
        img {
            margin-right: 20px;
        }
    }
}

td.ui-state-selected-range a {
    background: none !important;
    border: none !important;
  }
  
  td {
    width: 40px;
    height: 40px;
  }
  
  td a {
    text-align: center !important;
  }
  
  .ui-red-start {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25)100%) !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .ui-red-end {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25)100%) !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .ui-red-start .ui-state-default,
  .ui-red-end .ui-state-default {
    border: none !important;
    ;
    background: none !important;
    ;
    font-weight: normal;
    color: white !important;
    ;
  }
  
  .ui-state-selected-range {
    border: none !important;
    color: rgba(31, 32, 65, 0.5);
    font-weight: normal;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25)100%);

  }

.start-date-visible {
  width: 150px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
}

.end-date-visible {
  width: 150px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.75);
}

.end-date-visible::after {
    content: 'expand_more';
    font-family: Material Icons;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.5);
}

.start-date-visible::after {
    content: 'expand_more';
    font-family: Material Icons;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.5);
}



.datepicker {
  
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-state-highlight, .ui-state-highlight, .ui-state-highlight{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 22px;
  color: white !important;
}

.ui-datepicker th {
  color: #BC9CFF;

  
}

.ui-red-start .ui-state-default, .ui-red-end .ui-state-default {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
  border-radius: 22px; 
  height: 40px;
  width: 40px;
}

.ui-red-start .ui-state-default, .ui-red-end .ui-state-default {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
  border-radius: 22px; 
  height: 40px;
  width: 40px;
}


.ui-datepicker-prev .ui-icon{
  background-image: url('../img/icon/arrow_back.svg') !important;
}

.ui-icon-circle-triangle-e {
  background-position: 0 0;

}

.ui-datepicker-next .ui-icon {
  background-image: url('../img/icon/arrow_forward.svg') !important;
}

.ui-icon-circle-triangle-w {
  background-position: 0 0;
}

.datepicker__block {
  display: none;
  position: absolute;
  z-index: 100;
  top: 186px;
  width: 320px;
  min-height: 369px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}


.ui-widget.ui-widget-content {
  border: none;
}

.ui-datepicker {
  padding: 0;
  padding-top: 20px;
  width: 270px;
  margin: 0 auto;
}

.ui-datepicker .ui-datepicker-title {
  margin-bottom: 20px;
  color: #1F2041 !important;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;;
}

.datepicker__button {
  text-transform: uppercase;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
  cursor: pointer;

}

.datepicker__buttons {
  width: 270px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui-datepicker table {
  font-size: 12px;
line-height: 15px;
}

.ui-datepicker-calendar {
  height: 240px;
}

.guests {

    &__block {
        height: 159px;
        width: 320px;
        position: absolute;
        background-color: white;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 0px 0px 4px 4px;
        top: 60px;
        display: flex;
        justify-content: center;
    }

    &__main {
        width: 300px;
        height: 139px;
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    &__ageGroups {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin-top: 7px;
    }

    &__ageGroup {
        margin-bottom:22px;
    }

    &__counters {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        
        color: #1F2041;
    }



    &__counter {
        margin-bottom:19px;
        margin-bottom: 22px;
        right: 40px;
        position: relative;
    }
    &__counter::after {
        content: '+';
        color: rgba(31, 32, 65, 0.5);
        font-size: 18px;
        line-height: 22px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        padding: 2px 9px;
        position: absolute;
        top: -6px;
        margin-left: 13px;
    }

    &__counter::after {
        content: '+';
        color: rgba(31, 32, 65, 0.5);
        font-size: 18px;
        line-height: 22px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        padding: 2px 9px;
        position: absolute;
        top: -6px;
        margin-left: 13px;
        cursor: pointer;
    }
    &__counter::before{
        content: '-';
        color: rgba(31, 32, 65, 0.5);
        font-size: 18px;
        line-height: 22px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        padding: 2px 9px;
        position: absolute;
        top: -6px;
        right: 18px;
        cursor: pointer;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 300px;
        position: absolute;
        top: 125px;
    }

    &__button {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        cursor: pointer;
    }
}

.counter {

    &__minus {
    }
}


